.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-color;
    &--text-center {
        text-align: center;
        color: #FEFEFE;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .title {
        font-size: 14px;
        line-height: 22px;
    }
}