@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

.container {
    width: 1160px;
    margin: 0 auto;
}


/*header*/

.header {
    background: url("../img/Sections-background/section-1.jpg") no-repeat fixed center;
    background-size: cover;
    opacity: .8;
}

.navbar-d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hexagon {
    width: 58px;
    height: 67px;
    background-image: url(../img/logo/Polygon\ 1\ 1.png);
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.heaxagon-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    position: absolute;
    left: 14px;
    top: 12px;
}

.logo-title-small {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    align-items: center;
    color: #FFFFFF;
    padding-left: 10px;
}

.logo-title-large {
    color: #18CFAB;
    font-weight: 600;
}


/* NAV BAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 121px;
    background: rgba(73, 71, 63, 0.60);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .7);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 644px;
}

.navbar-collapse {
    display: flex;
}

.nav-link {
    position: relative;
    color: #b8b8b8;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: .7s;
}

.nav-link:hover {
    color: #1acca9;
}

.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -54px;
    height: 2px;
    width: 0;
    border-bottom: 2px solid #18cfab;
    transition: .7s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-item-search {
    display: inline-block;
    margin-left: 17px;
    cursor: pointer;
}

.nav-item-search:hover .nav-item-icon {
    color: #18cfab;
}

.nav-item-icon {
    color: #b8b8b8;
    font-size: 22px;
    transition: 1s;
}


/*header-description*/

.header-description {
    margin: 0 auto;
    padding-bottom: 240px;
    text-align: center;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 244px;
    padding-bottom: 22px;
}

.header-title-green {
    color: #18CFAB;
    padding-left: 10px;
}

.header-title-large {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
}

.header-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    color: #D4D4D4;
}

.header-button-container {
    text-align: center;
    padding-top: 174px;
}


/*Buttons*/

.btn {
    cursor: pointer;
    background-color: #18CFAB;
    box-shadow: inset 0px 5px 0px #ffff;
    width: 169px;
    height: 63px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 13px;
}

.btn-secondary {
    background-color: #00CBF6;
    margin-left: 13px;
}

.btn:before {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(97, 96, 96, 0.5);
    outline-offset: 0px;
}

.btn:hover {
    border: 2px solid;
    box-shadow: inset 0 0 20px rgba(226, 225, 225, 0.801), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(83, 83, 83, 0);
    text-shadow: 1px 1px 2px #2e4955;
}


/* cards options */

.options {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    height: 374px;
    width: 25%;
    background-color: #1c2a33;
    border-top: 4px solid #18cfab;
    box-sizing: border-box;
}

.cards-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 159px;
    padding-top: 90px;
}

.cards-blue {
    align-items: center;
    background-color: #18cfab;
    border-top: 4px solid #ffffff;
}

.cards-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.cards-text-blue {
    color: #18cfab;
}


/*ourworks*/

.container-services {
    padding-top: 82px;
    padding-bottom: 105px;
}

.titles {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.titles::before {
    content: "";
    position: absolute;
    top: 4.3rem;
    left: 47%;
    right: auto;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.titles::after {
    content: "";
    position: absolute;
    top: 4.6rem;
    left: 48%;
    right: auto;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.collapse {
    padding-top: 112px;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    background-color: #f8fcfe;
    border: 1px solid #ececec;
    font-family: 'Montserrat', sans-serif;
}

.card-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    width: 192px;
    border-right: 1px solid #ececec;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.card-collapse.active {
    background-color: #18cfab;
    color: #ffffff;
    position: relative;
}

.card-collapse.active::after {
    content: "";
    position: absolute;
    top: 75%;
    width: 0;
    height: 0;
    border-top: 35px solid #18cfab;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.card-collapse-body {
    display: none;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
}

.card-collapse-body.active {
    display: flex;
    margin-top: 25px;
}

.collapse-body-text {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    margin-left: 20px;
}


/* purchase */

.purchase {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/Sections-background/section-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.purchase-bg-color {
    background: linear-gradient(rgba(0, 0, 0, .78), rgba(0, 0, 0, .78));
    z-index: 100;
    padding: 127px 0;
}

.purchase-title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    z-index: 110;
    opacity: 1;
}

.purchase-subtitle {
    font-size: 16px;
    color: #D8D8D8;
    z-index: 110;
    padding: 14px 0 65px 0;
}


/* amazing-works */

.amazing-works {
    padding-top: 97px;
    padding-bottom: 100px;
    background: #F8FCFE;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    max-width: 609px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 100px;
}

.nav-tabs-links {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ddd;
    color: #717171;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.nav-tabs-links:hover {
    padding: 18px;
    border: 2px solid #18cfab;
    font-size: 15px;
    color: #5bddc3;
}

.nav-tabs-content {
    padding-top: 71px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.column {
    position: relative;
    padding: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    height: 207px;
}

.hidden {
    display: none;
}

.column-tabs-img {
    width: 99.7%;
    height: 99.5%;
}

.column-tabs-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #f8fcfe;
    border-top: 2px solid #1acca9;
    opacity: 0;
    transition: 1s;
    text-align: center;
}

.tabs-icon {
    display: flex;
    justify-content: center;
    min-width: 87px;
    min-height: 40px;
    margin: 30px 0;
}

.tabs-icon-button {
    padding: 13px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    transition: .5s;
    margin: 0 5px;
}

.tabs-icon-button:hover {
    background: #18cfab;
    color: #fff;
}

.tabs-icon-title {
    color: #18cfab;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.tabs-icon-description {
    padding-top: 13px;
    color: #8a8a8a;
    font-size: 13px;
    font-weight: 300;
}

.column-tabs-view:hover {
    opacity: 1;
}

.fa.fa-plus {
    margin-right: 7px;
}


/* Breaking News */

.container-breacking {
    padding-top: 84px;
    padding-bottom: 132px;
    font-family: 'Montserrat', sans-serif;
}

.row-content {
    padding-top: 105px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vw;
}

.row-content-column {
    position: relative;
    padding: 0;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    transition: 1s;
}

.row-content-column:hover .post-date {
    background: #18cfab;
    z-index: 1000;
    transition: 1s;
}

.row-content-column:hover .post-footer-title {
    color: #18cfab;
    transition: 1s;
}

.post-img {
    width: 100%;
}


/* postDate */

.post-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 69px;
    height: 67px;
    background-color: #203e38;
}

.post-date-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    padding-top: 5px;
}

.post-footer {
    background: #f8fcfe;
}

.post-footer-box {
    padding: 11px 50px 10px 18px;
    line-height: 25px;
}

.post-footer-title {
    color: #717171;
    font-size: 18px;
    font-weight: 600;
}

.post-footer-description {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}


/* Client feedback */

.container-about-says {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Sections-background/section-3.jpg) no-repeat fixed center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
}

.text-white {
    color: #FFFFFF;
}

.slider-wrapper {
    padding-top: 105px;
}

.slider-quotes {
    width: 44px;
    height: 30px;
}

.blog-slide {
    display: none;
}

.blog-slide.active {
    display: block;
}

.slider-description {
    padding-top: 43px;
    text-align: center;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.slider-avatar-caption {
    padding-top: 43px;
    padding-bottom: 27px;
    line-height: 27px;
}

.quotes {
    color: #18cfab;
}

.avatar-title {
    font-size: 16px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
}

.avatar-subtitle {
    font-size: 13px;
    font-weight: 300;
    color: #bbbbbb;
}

.slider-avatar {
    width: 164px;
    height: 164px;
    border: 13px solid rgba(15, 85, 84, 0.2);
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 auto;
}

.slider-avatar-img {
    width: 100%;
    height: 100%;
    border: 3px solid #20cbaa;
    border-radius: 50%;
    box-sizing: border-box;
}

.slider-nav {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 70px;
}

.slider-avatar-mini-img {
    margin-left: 34px;
    margin-right: 30px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(16, 76, 75, 0.2);
    cursor: pointer;
}

.blog-slider-dots-item.active {
    margin-top: -20px;
    transition: ease-out .8s;
}

.arrow {
    position: relative;
    display: inline-block;
    top: 20px;
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
}

.arrow:hover {
    background-color: #20cbaa;
    border: 1px solid #20cbaa;
}

.arrow::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 33%;
    border: 2px solid #ffff;
    width: 6px;
    height: 6px;
    transform: translateY(-50%) rotate(45deg);
}

.arrow-left::before {
    border-right: 0;
    border-top: 0;
    left: 38%;
}

.arrow-right::before {
    border-left: 1px;
    border-bottom: 1px;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.7s;
    animation-name: fade;
    animation-duration: 1.7s;
}

@-webkit-keyframes fade {
    from {
        opacity: .3
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .3
    }
    to {
        opacity: 1
    }
}


/* Gallery */

.container-best-images {
    padding-top: 84px;
}

.grid-button {
    padding-top: 67px;
}

.grid {
    padding-top: 100px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "item1 item2 item3 item4" "item1 item2 item5 item5" "item6 item2 item5 item5" "item6 item7 item5 item5" "item8 item7 item9 item9" "item8 item10 item9 item9";
}

.mini {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item10 {
    grid-area: item10;
}

.grid-item {
    box-sizing: border-box;
}

.grid-img-container {
    position: relative;
}

.grid-item-img {
    width: 100%;
    height: 100%;
}

.grid-item-view {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* height: calc(100% - 3px); */
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    opacity: 0;
    transition: 1s;
}

.grid-item-view:hover {
    opacity: 1;
}

.view-buttons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.btn-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 38px;
    background: #14b9d5;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    transition: .5s;
}

.btn-view:hover {
    background: #18cfab;
    transform: translate(0, -10%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .7);
}


/* btn load more*/

.btn-load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.icon-load-more {
    padding-right: 16px;
    font-size: 20px;
}

.footer {
    display: flex;
    height: 108px;
    background: #22353f;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

.footer-copy {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    padding-top: 48px;
}

.footer-links {
    color: #18cfab;
}