* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.register-form {
    background: #6666E2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    position: relative;
}

.navbar {
    padding: 1rem 1.5rem;
    background: #150230;
    color: #DFE1FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    transition: .4s;
    cursor: pointer;
}

.navbar-link:hover {
    font-size: 20px;
}

.main {
    /*background: #cccccc;*/
    /*border-radius: 5px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*padding: 2rem 0;*/
    min-height: 600px;
}


/* .modal {
    min-width: 300px;
    min-height: 400px;
    background: #cccccc;
    border-radius: 5px;
    padding: 1rem 1.5rem .5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
} */

.doctor {
    padding: 1rem 1.5rem;
    background: #ea6666;
    border: none;
    /*border-bottom: 5px solid white;*/
    border-radius: 5px 0 5px 0;
    color: white;
    outline: none;
}

.modal-btn {
    padding: .5rem 1rem;
    box-sizing: border-box;
    background: #ea6666;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px 0 20px 0;
    cursor: pointer;
}

.close-block {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    /*background: #ea6666;*/
}

.close {
    height: 3px;
    width: 25px;
    background: #ea6666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    border-radius: 1px;
}

.close:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    /*display: block;*/
    width: 90%;
    border: none;
    border-bottom: 3px solid #ea6666;
    border-radius: 10px 0 10px 0;
    padding: 1rem .5rem;
    background: white;
    color: #cccccc;
    margin: .5rem 0;
    outline: none;
}

.input-field::placeholder {
    color: #cccccc;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 1rem 1.5rem;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-start;*/
    margin: 2rem;
}

.card {
    /*min-width: 371px;*/
    max-width: 300px;
    background: #ea6666;
    padding: 1rem;
    box-sizing: border-box;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /*min-width: 400px;*/
}

.card-fio {
    margin-bottom: 1rem;
    font-size: 20px;
}

.card-age,
.card-doctor,
.card-pressure,
.card-purpose,
.card-index-weight,
.card-past-illnesses {
    margin-bottom: .5rem;
}

.card-block {
    display: flex;
    flex-direction: column;
}

.card-block-btn {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.card-block-btn a {
    background: #cccccc;
    padding: .5rem;
    border-radius: 5px;
    margin-right: .5rem;
}

.card-block-btn a:hover {
    background: #727272;
}

.card-list {
    list-style: none;
    width: 250px;
}

.card-list-item {
    margin: .5rem 0 0 1rem;
    color: black;
}

.card-detail {
    text-decoration: none;
    color: red;
    background: white;
    padding: .5rem;
    margin-top: .5rem;
    border-radius: 5px;
    width: max-content;
}

.hide {
    display: none;
}


/*--------------------------------------------------------------------------------------------- */

.modal {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.register-form {
    width: 400px;
    border-radius: 5px;
    /*margin: auto;*/
    /*padding-top: 25%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    padding: 20px;
    margin: 5px;
    outline: none;
    border: none;
    border-bottom: 5px solid #150230;
    border-radius: 0px 5px 0px 5px;
    font-size: 24px;
    max-width: 250px;
}

.btn-create {
    margin-top: 120px;
}

.close-wrapper {
    text-align: center;
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
}

.close-right {
    background-color: red;
    transform: rotate(45deg) translateX(-70%);
    width: 30px;
    height: 3px;
    padding: 5px;
}

.close-left {
    background-color: red;
    transform-origin: center;
    transform: rotate(-45deg) translateX(70%);
    width: 30px;
    height: 3px;
    padding: 5px;
}


/*

.modal.active {
    display: block;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

 */