    * {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.log:hover {
    color: #F2CB00;
    transition: .4s ease;
}

.register-form {
    background: #19181A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    position: relative;
}

.navbar {
    padding: 1rem 1.5rem;
    background: #19181A;
    color: #FBFDF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    transition: .4s;
    cursor: pointer;
}

.navbar-link:hover {
    font-size: 20px;
    color: #F2CB00;
    transition: .4s ease;
}

.main {
    background: #FBFDF5;
    align-items: center;
    height: 100%;
    /*padding: 2rem 0;*/
    min-height: 600px;
}


/* .modal {
    min-width: 300px;
    min-height: 400px;
    background: #cccccc;
    border-radius: 5px;
    padding: 1rem 1.5rem .5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
} */

.doctor {
    padding: 1rem 1.5rem;
    background: #ea6666;
    border: none;
    /*border-bottom: 5px solid white;*/
    border-radius: 5px 0 5px 0;
    color: white;
    outline: none;
}

.modal-btn {
    padding: .5rem 1rem;
    box-sizing: border-box;
    background: #ea6666;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px 0 20px 0;
    cursor: pointer;
}

.close-block {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    /*background: #ea6666;*/
}

.close {
    height: 3px;
    width: 25px;
    background: #ea6666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    border-radius: 1px;
}

.close:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 90%;
    border: none;
    border-bottom: 3px solid #19181A;
    border-radius: 0px 5px 0px 5px;
    padding: 1rem .5rem;
    background: white;
    color: #cccccc;
    margin: .5rem 0;
    outline: none;
}

#cards select {
    width: 96%;
    padding: 14px 40px;
    outline: none;
    border: none;
    border-bottom: 3px solid #19181A;
    border-radius: 0px 5px 0px 5px;
    margin: .5rem 0;
}

.textarea-field {
    padding: 12px 50px;
    outline: none;
    border: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.input-field::placeholder {
    color: #cccccc;
}

.input-btn {
    background: #19181A;
    color: #fdd50d;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 1rem 1.5rem;
    margin: 2rem;
}

.card {
    max-width: 300px;
    background: #fdd50d;
    padding: 1rem;
    box-sizing: border-box;
    color: #19181A;
    border-radius: 0px 5px 0px 5px;
    border-color: #19181A;
    box-shadow: 0px 0px 5px 1px #19181A;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#my-modal select {
    border-bottom: 5px solid #fdd50d;
    width: 80%;
    padding: 14px 40px;
    outline: none;
    border-radius: 0px 5px 0px 5px;
    margin: .5rem 0;
}

.register-form .input-field {
    display: flex;
    border-bottom: 5px solid #fdd50d;
    border-radius: 0px 5px 0px 5px;
    padding: 10px 10px;
    background: white;
    color: #cccccc;
    outline: none;
}

#my-modal div select {
    border-bottom: 5px solid #fdd50d;
    width: 98%;
    padding: 10px 40px;
    outline: none;
    border-radius: 0px 5px 0px 5px;
    margin: .5rem 0;
    .card-fio {
        margin-bottom: 1rem;
        font-size: 20px;
    }
    .card-age,
    .card-doctor,
    .card-pressure,
    .card-purpose,
    .card-index-weight,
    .card-past-illnesses {
        margin-bottom: .5rem;
    }
    .card-block {
        display: flex;
        flex-direction: column;
    }
    .card-block-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .card-block-btn a {
        background: #19181A;
        color: #fdd50d;
        padding: .5rem;
        border-radius: 5px;
        margin-right: .5rem;
    }
    .card-block-btn a:hover {
        box-shadow: 0px 0px 2px 1px #FFFCF5;
    }
    .card-list {
        list-style: none;
        width: 250px;
    }
    .card-list-item {
        margin: .5rem 0 0 1rem;
        color: black;
    }
    .card-detail {
        text-decoration: none;
        color: red;
        background: white;
        padding: .5rem;
        margin-top: .5rem;
        border-radius: 5px;
        width: max-content;
    }
    .hide {
        display: none;
    }
    /*--------------------------------------------------------------------------------------------- */
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }
    .register-form {
        width: 400px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 30px 5px #19181A;
    }
    .form-control {
        padding: 20px;
        margin: 18px;
        outline: none;
        border: none;
        border-bottom: 5px solid #F2CB00;
        border-radius: 0px 5px 0px 5px;
        font-size: 24px;
        max-width: 250px;
        transition: .4s ease;
    }
    .btn-create {
        margin-top: 80px;
    }
    .error-border {
        border-bottom: 5px solid #F13636;
    }
    .btn-create:hover {
        background-color: #F2CB00;
        border-bottom: none;
        box-shadow: inset 0px 0px 5px 2px #454247;
        transition: .4s ease;
    }
    .close-wrapper {
        text-align: center;
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 20px;
    }
    .close-right {
        background-color: #F13636;
        transform: rotate(45deg) translateX(-70%);
        width: 23px;
        height: 1px;
        padding: 2px;
    }
    .close-left {
        background-color: #F13636;
        transform-origin: center;
        transform: rotate(-45deg) translateX(70%);
        width: 23px;
        height: 1px;
        padding: 2px;
    }
    .search-form {
        background-color: #19181A;
        opacity: .9;
        padding: 18px;
        display: flex;
        justify-content: space-around;
    }
    .search-input {
        padding: 8px 40px;
        margin-right: 30px;
        outline: none;
        border: none;
        border-bottom: 5px solid #F2CB00;
        border-radius: 0px 5px 0px 5px;
        font-size: 18px;
    }
    .search-form select {
        padding: 8px 40px;
        outline: none;
        border: none;
        border-bottom: 5px solid #F2CB00;
        border-radius: 0px 5px 0px 5px;
        font-size: 18px;
    }