.footer {
    background-color: #000000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 60px 0px;
}

.subtitle {
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    padding: 22px 0px 37px 0px;
    width: 684px;
    margin: 0 auto;
}

.social-icons {
    @include flex;
    justify-content: center;
    padding-bottom: 34px;
    &__item {
        margin: 0px 6px;
    }
}

.our-contacts {
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    @include flex;
    justify-content: center;
    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 26px;
        color: #B9B9B9;
    }
}

@media (max-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .subtitle {
        font-size: 12px;
        line-height: 20px;
        padding: 8px 0px 26px 0px;
        width: 100%;
        margin: 0 auto;
    }
    .social-icons {
        padding-bottom: 25px;
    }
}