        .instagram {
            padding: 47px 0px;
            background: rgba(0, 0, 0, 0.03);
        }
        
        .heading {
            @include flex;
            justify-content: space-between;
            font-family: 'Roboto', sans-serif;
            padding-bottom: 24px;
            &__link {
                font-weight: bold;
                font-size: 13px;
                line-height: 22px;
                text-transform: uppercase;
                color: $main-color;
                text-decoration: none;
            }
            &__link:hover {
                color: $hover-color;
            }
        }
        
        .instagram-posts {
            @include flex;
            justify-content: space-between;
            &__img {
                width: 100%;
            }
            &__link {
                width: 24%;
            }
        }
        
        @media (min-width: 768px) and (max-width: 1199px) {
            .instagram-posts {
                &__link {
                    width: 30%;
                    &--d-none {
                        display: none;
                    }
                }
            }
        }
        
        @media (min-width: 320px) and (max-width: 767px) {
            .container {
                &--left {
                    margin-left: 0;
                }
            }
            .instagram {
                padding: 40px;
                background: #ffff;
                text-align: left;
                margin-left: 0;
            }
            .instagram-posts {
                &__link {
                    width: 100%;
                    &--none {
                        display: none;
                    }
                    &--d-none {
                        display: none;
                    }
                }
                &__img {
                    width: 100%;
                }
            }
            .heading {
                &__link--none {
                    display: none;
                }
            }
        }