.menu {
    @include flex;
    justify-content: space-evenly;
    padding: 42px 0px;
    &__link {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 22px;
        text-decoration: none;
        letter-spacing: 1.1px;
        transition: 0.4s;
        color: $main-color;
        @include font-Roboto;
    }
    &__link:hover {
        color: $hover-color;
    }
}


/*menu burger*/

.header__burger {
    display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .wrap {
        width: 25%;
        margin-left: auto;
        margin-right: 0;
        z-index: 10;
    }
    .navbar {
        height: 38px;
        margin: 23px;
    }
    .navbar .container {
        margin: unset;
        width: 48%;
        margin-left: auto;
        margin-right: 0;
    }
    .right {
        width: 40%;
        margin-left: auto;
        margin-right: 0;
    }
    .menu {
        display: block;
        position: fixed;
        padding: 0px;
        top: 12%;
        right: -200px;
        transition: all .3s ease 0s;
        &__item {
            position: relative;
            padding: 4px 0px 4px 13px;
        }
        &__item:hover {
            background: #F5F5F5;
            margin-right: 18%;
        }
        &__item::after {
            content: '';
            position: absolute;
            width: 82%;
            height: 2px;
            left: 0;
            bottom: 0;
            background: #F5F5F5;
        }
    }
    .header__burger {
        display: block;
        position: relative;
        width: 44px;
        height: 38px;
        z-index: 4;
        margin: 22px;
        background-color: #000;
        right: 0;
    }
    .header__burger span {
        background-color: #fff;
        position: absolute;
        width: 17px;
        height: 2px;
        left: 13px;
        top: 18px;
        transition: all .3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 17px;
        height: 2px;
        left: 13px;
        transition: all .3s ease 0s;
    }
    .header__burger::before {
        top: 13px;
    }
    .header__burger::after {
        bottom: 13px;
    }
    /*active menu*/
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 19px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 17px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .menu.active {
        right: 0px;
        width: 41%;
        top: 12%;
        background-color: #fff;
        transition: all .3s ease 0s;
    }
}