.recents-posts {
    padding: 67px 0px;
    font-family: 'Roboto', sans-serif;
}

.posts {
    @include grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 25px;
    margin-top: 24px;
}

.post {
    @include flex;
    justify-content: space-between;
    &__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
    }
    &__content {
        width: 66%;
    }
    &__info {
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
    }
    &__text {
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        padding-top: 13px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .posts {
        display: block;
    }
    .post {
        justify-content: left;
        padding-bottom: 34px;
        &__content {
            margin-left: 20px;
            width: 48%;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .recents-posts {
        padding: 40px 0px;
    }
    .posts {
        display: block;
    }
    .post {
        display: block;
        &__title {
            font-size: 14px;
            padding-top: 11px;
        }
        &__content {
            width: 100%;
        }
        &__info {
            font-size: 11px;
            padding-bottom: 28px;
        }
        &__text {
            display: none;
        }
    }
}