.header {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}


/*header-item*/

.header-item {
    display: flex;
    padding-top: 49px;
    cursor: pointer;
}

.header-item-logo {
    display: flex;
    width: 165px;
    height: 44px;
    align-self: baseline;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

.logo-img {
    background: url(../img/css_sprites.png) -10px -10px;
    display: block;
    width: 46px;
    height: 44px;
}

.header-item-logo:hover .logo-text {
    color: #f26522;
}

.header-item-logo:hover .logo-img {
    background-position: -76px -10px;
}

.logo-text {
    margin-left: 13px;
}

.logo-text-big {
    font-size: 29px;
}

.header-item-contacts {
    margin-left: auto;
    margin-right: 0;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}


/*tour-catalog*/

.tour-catalog {
    display: grid;
    margin-top: 45px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 58px;
    grid-column-gap: 66px;
    text-align: center;
    cursor: default;
}

.text-item {
    margin-top: 21px;
}

.footer {
    margin-top: 61px;
    padding-bottom: 20px;
    text-align: center;
}

.module-border-wrap {
    padding: 2rem;
    position: relative;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
    overflow: hidden;
}

.animation-text-left {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}

.animation-text-left-small {
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
}

.animation-text-right {
    display: inline-block;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.arrow {
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.item-animation {
    opacity: 0;
    position: absolute;
    color: #ffff;
    background-color: #f26522;
    transition: all 800ms ease;
    border: none;
    bottom: 0;
    width: 308px;
    height: 0;
}

.tour-catalog-item:hover .item-animation {
    opacity: 1;
    height: 60px;
}

.tour-catalog-item:hover .text-item {
    color: #f26522;
}

.footer {
    cursor: default;
}