        .clearfix {
            clear: both;
        }
        
        .feedback-form-page {
            background: url(../img/bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
        
        .container {
            width: 100%;
            max-width: 1210px;
            margin: 0 auto;
            display: flex;
        }
        
        .header {
            display: flex;
            padding: 18px 0;
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .header-logo {
            display: flex;
            flex-direction: row;
        }
        
        .header-logo-text {
            color: #ffffff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
        }
        
        .header-logo-text:hover {
            color: #329a65;
        }
        
        .header-menu {
            display: flex;
            flex-direction: row;
            margin-left: auto;
        }
        
        .navbar {
            display: flex;
            flex-direction: row;
            position: relative;
            margin-right: 20px;
        }
        
        .navbar-item {
            padding-left: 26px;
        }
        /*hover for icons*/
        
        .navbar-icons-calendar {
            background: url(../img/css_sprites.png)-106px -10px;
            display: block;
            width: 19px;
            height: 19px;
        }
        
        .navbar-item:hover .navbar-icons-calendar {
            background-position: -106px -49px;
        }
        
        .navbar-icons-forum {
            width: 28px;
            height: 20px;
            display: block;
            background: url(../img/css_sprites.png) -58px -10px;
        }
        
        .navbar-item:hover .navbar-icons-forum {
            background-position: -10px -10px;
        }
        
        .navbar-icons-journey {
            width: 20px;
            height: 20px;
            display: block;
            background: url(../img/css_sprites.png) -50px -50px;
        }
        
        .navbar-item:hover .navbar-icons-journey {
            background-position: -10px -50px
        }
        
        .navbar-item.item-last::after {
            display: inline-block;
            height: 20px;
            border-right: 1px solid rgba(255, 255, 255, .2);
            content: '';
            position: absolute;
            padding: 0 10px;
            top: 2px;
            left: 147px;
        }
        
        .header-menu-log {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            padding-left: 26px;
        }
        
        .header-menu-log-login {
            color: #3cb878;
        }
        
        .header-menu-log-login:hover {
            border-bottom: 1px solid #3cb878;
        }
        
        .line::before .line::after {
            content: "";
            background-color: darkgrey;
            width: 135px;
            top: 2px;
            height: 1px;
        }
        
        .link {
            color: #3CB878;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
        }
        
        .link:hover {
            border-bottom: 0.5px solid #3CB878;
            ;
        }
        /*content*/
        
        .content {
            position: relative;
        }
        
        .form-content {
            width: 444px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 2%);
        }
        
        .form-title {
            margin: 29px 60px 15px;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #434343;
            float: left;
        }
        
        .green-box {
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 29px;
            background-color: #3CB878;
        }
        
        .form-link {
            position: absolute;
            top: 33px;
            right: 59px;
        }
        
        .text {
            text-align: center;
            position: relative;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #848484;
            font-size: 14px;
            margin-top: 33px;
            margin-bottom: 10px;
        }
        
        .line::before {
            content: "";
            width: 135px;
            border-top: 1px solid #EAEAEA;
            position: absolute;
            top: 6px;
            margin-left: -155px;
        }
        
        .line::after {
            content: "";
            width: 135px;
            border-top: 1px solid #EAEAEA;
            position: absolute;
            top: 6px;
            margin-left: 20px;
        }
        
        .facebook {
            display: inline-block;
            margin-left: 62px;
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #305DB8;
            color: #FFFFFF;
            padding: 13px 17px 13px 3px;
            border-radius: 3px;
            margin-right: 6px;
        }
        
        .facebook:hover {
            background-color: #264B96;
        }
        
        .fa-facebook-f {
            border-right: 1px solid #2B54A6;
            padding: 4px 17px;
            margin-right: 18px;
        }
        
        .google {
            font-size: 16px;
            border-radius: 3px;
            color: #FFFFFF;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #DF4A32;
            padding: 15px 30px 16px 4px;
        }
        
        .google:hover {
            background-color: #C3412C;
        }
        
        .fa-google-plus-g {
            border-right: 1px solid #AF3A28;
            padding: 2px 9px;
            margin-right: 24px;
            font-size: 18px;
        }
        
        .sign-up-field {
            margin: 8px 60px;
            box-sizing: border-box;
            padding: 18px;
            border: 1px solid #EAEAEA;
            width: 322px;
            outline: none;
        }
        
        .sign-up-field::placeholder {
            color: #BEBEBE;
            font-size: 14px;
        }
        
        .sign-up-field:focus {
            box-shadow: 0 9px 5px -5px rgba(0, 0, 0, .2), -5px 0 5px -5px rgba(0, 0, 0, .2), 5px 0 5px -5px rgba(0, 0, 0, .2);
        }
        
        .terms {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #3CB878;
            font-size: 14px;
            display: inline-block;
        }
        
        .text-agree {
            display: inline-block;
            /* position: absolute; */
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            color: #434343;
            padding-left: 5px;
        }
        
        .checkbox {
            margin-left: 60px;
            margin-top: 10px;
            opacity: 0;
            position: relative;
        }
        
        input[type=checkbox]+label::before {
            content: "";
            display: inline-block;
            border: 1px solid #CED4DA;
            font-size: 16px;
            margin: 8px 0;
            height: 15px;
            width: 15px;
            text-align: center;
            vertical-align: middle;
            transition: all ease .1s;
            position: absolute;
            left: 60px;
        }
        
        input[type=checkbox]:checked+label:before {
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/checkbox.png);
        }
        
        .create-btn {
            padding: 17px 100px;
            background-color: #3CB878;
            text-align: center;
            margin-left: 60px;
            margin-bottom: 30px;
            margin-top: 10px;
            border-style: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            color: #fff;
        }