@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
.price {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: #fafafa;
    border: 23px solid #3a4965;
    color: #484848;
}

.price-list:nth-child(odd) {
    background-color: #f2f2f2;
}

.price-list:nth-child(even) {
    background-color: #e3e3e3;
}

.price-list-item {
    text-align: center;
    padding: 20px 0;
    box-shadow: 2px 0 3px #d9d9d9;
}

.fas {
    margin-right: 10px;
}

.far {
    margin-right: 10px;
}


/* first row of table*/

.price-list-title {
    width: 310px;
    height: 156px;
    vertical-align: middle;
    box-shadow: 2px 0 3px #d9d9d9;
    font-size: 18px;
    font-weight: 700;
}

.big-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}

.price-list-packages {
    width: 277px;
    height: 70px;
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    vertical-align: middle;
}

.price-list-packages.ultimate {
    background-color: #f04a56;
}

.price-list-packages.premium {
    background-color: #20807c;
}


/* second row of table*/

.price-list-cost {
    vertical-align: middle;
    background-color: #fafafa;
    /* box-shadow: 2px 0 3px #d9d9d9; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}

.price-big {
    font-size: 60px;
    font-weight: 700;
    position: relative;
}

.price-big::after {
    content: ".99";
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 7px;
}


/* btn */

.price-list-btn {
    width: 310px;
    height: 110px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    /* box-shadow: 2px 0 3px #d9d9d9; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}

.price-list-btn.bg-contact {
    background-color: #dddddd;
}

.price-list-btn.bg-standard {
    background-color: #eeeeee;
}

.price-list-btn.bg-ultimate {
    background-color: #f4f4f4;
}

.price-list-btn.bg-premium {
    background-color: #eeeeee;
}

.btn {
    padding: 16px 58px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

.btn.contact {
    background-color: #484848;
    box-shadow: inset 0px -6px 1px #404040;
}

.btn.buy-standard {
    background-color: #89c331;
    box-shadow: inset 0px -6px 1px #79b027;
}

.btn.buy-ultimate {
    background-color: #f04a56;
    box-shadow: inset 0px -6px 1px #df3a46;
}

.btn.buy-premium {
    background-color: #20807c;
    box-shadow: inset 0px -6px 1px #16736f;
}