@import 'variables';
@import 'mixins';
@import 'reset';
@import 'sections/sections';
@import 'components/components';
.container {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1999px) {
    .container {
        width: 85%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 85%;
    }
}