.dp-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-50 {
    margin-top: 50px;
}

.price-label {
    padding-right: 10px;
    font-size: 25px;
    text-transform: uppercase;
}

.container-price {
    visibility: hidden;
    width: 200px;
    border: 1px solid #dddddd;
    border-radius: 44px;
}

.container-price.active-container {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.cross {
    font-size: 16px;
    color: #343434;
    cursor: pointer;
}

.cross:hover {
    opacity: .7;
}

.result {
    color: #343434;
    padding-right: 50px;
    font-family: sans-serif;
    text-transform: capitalize;
}

.priceInput {
    outline: none;
    height: 30px;
    width: 150px;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.priceInput.active {
    border: 1px solid green;
}

.priceInput.error {
    text-align: center;
    border: 1px solid red;
}

.priceInput.text-green {
    color: green;
}

p {
    color: red;
    text-align: center;
}