@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
.container {
    width: 100%;
    max-width: 1280px;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/*Logo*/

.header-logo-text {
    width: 292px;
    height: 74px;
    color: #000;
    font-size: 80px;
    font-weight: 400;
    margin: 45px 0;
}

.text-colored {
    text-decoration: none;
    color: #4bcaff;
}


/*Navigation*/

.header-menu {
    background-color: #35444f;
}

.header-menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.header-menu {
    text-align: center;
    margin: 0 auto;
}

.header-menu-item {
    display: inline-block;
    padding: 22px 25px;
}

.header-menu-item.header-menu-item-selected {
    background-color: #222f3a;
}


/*Main content*/

.main {
    padding: 50px 0;
}


/*Menu left*/

.sidebar {
    width: 344px;
    display: inline-block;
}

.sidebar-menu {
    display: block;
    border: #000 1px solid;
}

.sidebar-menu-item {
    font-size: 27px;
    font-weight: 400;
    line-height: 80px;
    padding-left: 40px;
}

.sidebar-menu-link {
    color: #495863;
    text-align: center;
}

.sidebar-menu-item:hover {
    background-color: #dbdbdb;
    padding-left: 80px;
    transition: 0.8s all;
}


/*Content / right*/

.main-content {
    width: 100%;
    max-width: 885px;
    display: inline-block;
    vertical-align: top;
    padding-left: 46px;
}

.main-img {
    text-align: center;
    padding: 74px 0;
    border: #000 1px solid;
}

.img-fluid:hover {
    transform: scale(1.3);
    transition: 0.8s all;
}


/*Main Text*/

.main-text {
    padding: 30px 0;
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}


/*Footer*/

.footer {
    padding-bottom: 30px;
}

.footer-menu {
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu-item {
    display: inline-block;
    padding: 22px 25px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.footer-text {
    display: inline-block;
    padding-left: 180px;
    font-size: 24px;
    font-weight: 400;
}

.footer-menu-link {
    color: #0c1927;
}

.footer-menu-link:hover {
    color: #3181a6;
    border-bottom: #3181a6 1px solid;
    transition: width .3s ease-in-out;
}