@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
}

.home_page {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.photo {
    width: 100%;
    margin-bottom: -10px;
}


/*Navigation*/

.nav {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px 0;
}

.nav__link {
    position: relative;
    vertical-align: top;
    margin: 0 50px;
    font-size: 15px;
    font-weight: 700;
    color: #16a085;
    letter-spacing: 2.2px;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link.active {
    color: #16a085;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #16a085;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #16a085;
}


/*Text*/

.text {
    background-color: gainsboro;
    margin: 0 auto;
    font-weight: 400;
}

.text__blog {
    width: 1059px;
    margin: 0 auto;
    font-size: 18px;
}

.text__main {
    font-size: 22px;
    padding: 50px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text__article {
    font-size: 16px;
    letter-spacing: 2.6px;
    line-height: 26px;
    margin-bottom: 40px;
}


/*Button*/

.btn {
    width: 192px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
    padding: 6px 25px;
    border: 3px solid #16a085;
    border-radius: 2px;
    background-color: #16a085;
    color: #ffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
    margin: 20px 0 70px 0;
}

.btn:hover {
    background-color: #ffffff;
    color: #16a085;
}


/*Footer*/

.footer {
    width: 1059px;
    margin: 0 auto;
    text-align: right;
    letter-spacing: 1.6px;
}

.text__footer {
    margin: 20px 0;
}