html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 42px 0px; }
  .menu__link {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    text-decoration: none;
    letter-spacing: 1.1px;
    transition: 0.4s;
    color: #4E4E4E;
    font-family: 'Roboto', sans-serif; }
  .menu__link:hover {
    color: #57A4A4; }

/*menu burger*/
.header__burger {
  display: none; }

@media (min-width: 320px) and (max-width: 767px) {
  .wrap {
    width: 25%;
    margin-left: auto;
    margin-right: 0;
    z-index: 10; }
  .navbar {
    height: 38px;
    margin: 23px; }
  .navbar .container {
    margin: unset;
    width: 48%;
    margin-left: auto;
    margin-right: 0; }
  .right {
    width: 40%;
    margin-left: auto;
    margin-right: 0; }
  .menu {
    display: block;
    position: fixed;
    padding: 0px;
    top: 12%;
    right: -200px;
    transition: all .3s ease 0s; }
    .menu__item {
      position: relative;
      padding: 4px 0px 4px 13px; }
    .menu__item:hover {
      background: #F5F5F5;
      margin-right: 18%; }
    .menu__item::after {
      content: '';
      position: absolute;
      width: 82%;
      height: 2px;
      left: 0;
      bottom: 0;
      background: #F5F5F5; }
  .header__burger {
    display: block;
    position: relative;
    width: 44px;
    height: 38px;
    z-index: 4;
    margin: 22px;
    background-color: #000;
    right: 0; }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 17px;
    height: 2px;
    left: 13px;
    top: 18px;
    transition: all .3s ease 0s; }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 17px;
    height: 2px;
    left: 13px;
    transition: all .3s ease 0s; }
  .header__burger::before {
    top: 13px; }
  .header__burger::after {
    bottom: 13px; }
  /*active menu*/
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 19px; }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 17px; }
  .header__burger.active span {
    transform: scale(0); }
  .menu.active {
    right: 0px;
    width: 41%;
    top: 12%;
    background-color: #fff;
    transition: all .3s ease 0s; } }

.main__photo {
  width: 100%; }

.recents-posts {
  padding: 67px 0px;
  font-family: 'Roboto', sans-serif; }

.posts {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 32px;
  column-gap: 25px;
  margin-top: 24px; }

.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .post__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px; }
  .post__content {
    width: 66%; }
  .post__info {
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C; }
  .post__text {
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    padding-top: 13px; }

@media (min-width: 768px) and (max-width: 1199px) {
  .posts {
    display: block; }
  .post {
    justify-content: left;
    padding-bottom: 34px; }
    .post__content {
      margin-left: 20px;
      width: 48%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .recents-posts {
    padding: 40px 0px; }
  .posts {
    display: block; }
  .post {
    display: block; }
    .post__title {
      font-size: 14px;
      padding-top: 11px; }
    .post__content {
      width: 100%; }
    .post__info {
      font-size: 11px;
      padding-bottom: 28px; }
    .post__text {
      display: none; } }

.instagram {
  padding: 47px 0px;
  background: rgba(0, 0, 0, 0.03); }

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 24px; }
  .heading__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
    text-decoration: none; }
  .heading__link:hover {
    color: #57A4A4; }

.instagram-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .instagram-posts__img {
    width: 100%; }
  .instagram-posts__link {
    width: 24%; }

@media (min-width: 768px) and (max-width: 1199px) {
  .instagram-posts__link {
    width: 30%; }
    .instagram-posts__link--d-none {
      display: none; } }

@media (min-width: 320px) and (max-width: 767px) {
  .container--left {
    margin-left: 0; }
  .instagram {
    padding: 40px;
    background: #ffff;
    text-align: left;
    margin-left: 0; }
  .instagram-posts__link {
    width: 100%; }
    .instagram-posts__link--none {
      display: none; }
    .instagram-posts__link--d-none {
      display: none; }
  .instagram-posts__img {
    width: 100%; }
  .heading__link--none {
    display: none; } }

.footer {
  background-color: #000000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 60px 0px; }

.subtitle {
  font-size: 16px;
  line-height: 28px;
  color: #B9B9B9;
  padding: 22px 0px 37px 0px;
  width: 684px;
  margin: 0 auto; }

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 34px; }
  .social-icons__item {
    margin: 0px 6px; }

.our-contacts {
  font-size: 16px;
  line-height: 26px;
  color: #B9B9B9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .our-contacts__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9; }

@media (max-width: 768px) {
  .container {
    width: 768px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .subtitle {
    font-size: 12px;
    line-height: 20px;
    padding: 8px 0px 26px 0px;
    width: 100%;
    margin: 0 auto; }
  .social-icons {
    padding-bottom: 25px; } }

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E; }
  .title--text-center {
    text-align: center;
    color: #FEFEFE; }

@media (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 14px;
    line-height: 22px; } }

.container {
  width: 75%;
  margin: 0 auto;
  overflow: hidden; }

@media (min-width: 768px) and (max-width: 1999px) {
  .container {
    width: 85%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 85%; } }
