@media screen and (min-width: 769px) {
    .container {
        max-width: 800px;
        width: 100%;
    }
    .main {
        max-width: 957px;
        margin: 0 auto;
    }
    .wrapper {
        max-width: 1140px;
        margin: 0 auto;
    }
    .header {
        padding: 8px 0px;
        margin-bottom: 16px;
    }
    .header__body {
        align-items: center;
    }
    .header__burger {
        display: none;
    }
    .header__menu {
        z-index: 3;
        display: flex;
        align-items: center;
        position: unset;
        right: 0;
        padding-top: 0px;
        width: unset;
    }
    .header__list {
        display: flex;
        align-items: center;
    }
    .header__list li {
        margin: 0px 0px 0px 40px;
    }
    .main {
        padding: 256px 0px;
    }
    .main__text {
        padding: 58px 79px;
        font-size: 32px;
        top: 80px;
        left: 40px;
    }
    .main__subtext {
        padding: 17px 57px;
        font-size: 22px;
        top: 270px;
        left: 127px;
    }
    .main::after {
        position: absolute;
        background: #ED1260;
        width: 5%;
        padding: 173px 28px;
        content: '';
        top: 0;
        right: -10.9%;
    }
    .about__text {
        font-size: 25px;
        width: 85%;
        margin-top: 37px;
        margin-bottom: 40px;
        line-height: 30px;
    }
    .services {
        margin: 68px 0px 100px 0px;
    }
    .services__content {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
    }
    #map {
        width: 90%;
        height: 220px;
        margin-top: 27px;
        margin-bottom: 10px;
    }
    .map {
        margin: 0 auto;
    }
    .map__content {
        width: 579px;
        margin: 0 auto;
    }
    .map__content iframe {
        margin: 21px;
        width: 525px;
    }
    .contacts {
        border: none;
    }
    .contacts__content {
        border: none;
        box-sizing: border-box;
        text-align: center;
        color: #FFFFFF;
    }
    .contacts__title {
        font-size: 45px;
        line-height: 55px;
        text-align: left;
        padding: 80px 0px;
    }
    .dp-none-mob {
        display: block;
        margin-bottom: 20px;
    }
    .contacts__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 85px 0px;
    }
    .contacts__info-item {
        display: inline;
    }
    .contacts__info-item img {
        margin-bottom: 35px;
        padding: 0px;
    }
    .contacts__info-item p {
        font-size: 25px;
        line-height: 35px;
        padding: 0px;
        text-align: center;
    }
}