body {
    font-family: 'Montserrat', sans-serif;
    background-color: #151616;
}

a {
    cursor: pointer;
}

.container {
    width: 320px;
    margin: 0 auto;
}

.header {
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 21, 21);
    z-index: 2;
}

.header__logo {
    position: relative;
    z-index: 4;
    margin-left: 20px;
}

.header__list li {
    list-style: none;
    margin: 0px 0px 0px 95px;
    transition: .7s;
}

.header__link:hover {
    color: #F38A03;
    transition: 0.5s;
}

.header__link {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}


/*menu burger*/

.header__body {
    display: flex;
    justify-content: space-between;
}


/* .header__logo img {
    width: 70%;
} */

.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
    margin: 22px;
}

.header__burger span {
    background-color: #F38A03;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all .3s ease 0s;
}

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: #F38A03;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s ease 0s;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__menu {
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    background-color: rgb(20, 21, 21);
    transition: all .5s ease 0s;
    z-index: 3;
}

.header__list {
    display: block;
}

.header__list li {
    margin: 0px 0px 20px 20px;
}


/*active menu*/

.header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
}

.header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.header__burger.active span {
    transform: scale(0);
}

.header__menu.active {
    right: 0;
    top: 0;
}

.header__burger.active {
    position: fixed;
    right: 0;
}


/* Main */

.main {
    background-image: url(../img/main_photo.png);
    padding: 220px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: right;
}

.main__text {
    background-color: black;
    padding: 43px 42px;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 38px;
    left: 13px;
}

.main__subtext {
    background-color: black;
    padding: 10px 32px;
    font-size: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    position: absolute;
    top: 163px;
    left: 77px;
}


/* pink rectangle */

.main::after {
    position: absolute;
    background: #ED1260;
    width: 70%;
    padding: 32px 0px;
    content: '';
    top: 100%;
    right: 0;
}

.about__text {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    margin-top: 100px;
    margin-bottom: 40px;
    line-height: 20px;
}


/* services */

.services__content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
}

.services__item {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    line-height: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
}

.services__item img {
    margin: auto;
}

.services__item p {
    padding: 0px 15px;
}


/* Map */

#map {
    width: 95%;
    height: 128px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 7px;
}

.map {
    margin-bottom: 60px;
}

.map__content {
    border: 5px solid #ED1260;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.map__content p {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
}


/* Contacts */

.contacts {
    border: 5px solid #F38A03;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
}

.contacts__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 20px 0px;
}

.contacts__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 18px;
    line-height: 22px;
}

.contacts__info-item {
    display: flex;
}

.contacts__info-item img {
    height: 26px;
    padding: 20px 20px;
}

.contacts__info-item p {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 40px;
    text-align: left;
}

.dp-none-mob {
    display: none;
}