.btn-primary {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.create-btn {
    background-color: rgb(81, 252, 164);
    color: #000;
}

.form-content {
    background-color: #434343;
}

.form-title {
    color: rgb(81, 252, 164);
}

.text-agree {
    color: #ffffff;
}