@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800&display=swap');
.main-page {
    background-image: url(../img/header-bg-img.png);
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.27);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/*header*/

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: #1d2124;
    font-size: 15px;
    font-weight: 400;
    color: #ffff;
}

.head-logo {
    display: flex;
}

.head-logo-link {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.27);
    padding: 22px;
}

.head-logo-text {
    display: flex;
    align-self: center;
    font-size: 22px;
    font-weight: 700;
    padding-left: 10px;
}

.head-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-transform: uppercase;
}

.head-menu-item {
    margin: 0 15px;
}

.head-search {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.27);
    padding: 29px;
}


/*main-page-content*/

.backgroud-for-content {
    background-color: rgba(0, 0, 0, 0.27);
    padding: 85px 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.main-page-content {
    display: inline-block;
    margin: 0 auto;
}

.main-page-title {
    color: #ffffff;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-page-btn {
    display: flex;
    justify-content: center;
}

.btn {
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 3px;
    margin: 40px 10px 0 10px;
}

.btn.subscribe {
    background-color: #89ca62;
}

.btn.articles {
    background-color: #14b9d5;
}


/*popular-post*/

.popular-post {
    background-color: #f2f2f2;
}

.title {
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0;
    text-align: center;
}

.popular-post-gallery {
    display: flex;
    justify-content: first baseline;
    font-family: 'Open Sans', sans-serif;
}

.gallery-col {
    margin: 15px;
}

.post {
    margin-bottom: 25px;
}

.post-text {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 7px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
}


/*cliens*/

.clients {
    background-image: url(../img/bg2-chet.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 126px 0;
}

.title.colored {
    color: #ffffff;
    padding: 30px 0;
}

.underline {
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

.clients-logo {
    display: grid;
    grid-template-areas: 'logo1 logo2 logo3 logo4';
    padding-bottom: 80px;
}

.logo1 {
    grid-area: logo1;
}

.logo2 {
    grid-area: logo2;
}

.logo3 {
    grid-area: logo3;
}

.logo4 {
    grid-area: logo4;
}


/*latest-post*/

.latest-post {
    background-color: #ffffff;
    padding: 20px 0;
}

.latest-post-gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.post-photo {
    width: 100%;
}


/*news*/

.news-gallery {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-areas: "news-item1 news-item1 news-item1 news-item1 news-item1 . news-item2" "news-item3 news-item3 news-item3 . news-item4 news-item4 news-item4" "news-item5 news-item5 news-item5 . news-item6 news-item6 news-item6" "news-item7 . news-item8 news-item8 news-item8 news-item8 news-item8";
    grid-template-columns: 1fr 30px 1fr 60px 1fr 30px 1fr;
    grid-template-rows: 259px 418px 418px 259px;
    grid-gap: 42px 0;
}

.news-item1 {
    grid-area: news-item1;
}

.news-item2 {
    grid-area: news-item2;
}

.news-item3 {
    grid-area: news-item3;
}

.news-item4 {
    grid-area: news-item4;
}

.news-item5 {
    grid-area: news-item5;
}

.news-item6 {
    grid-area: news-item6;
}

.news-item7 {
    grid-area: news-item7;
}

.news-item8 {
    grid-area: news-item8;
}


/*text*/

.news-gallery-text {
    text-align: right;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background-color: #f9f7f7;
    padding: 15px;
}

.news-gallery-text.center {
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.news-gallery-title {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
}

.news-gallery-description {
    color: #5b6469;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 15px;
}

.news-gallery-link {
    display: grid;
}


/*grid link medium*/

.news-gallery-link.medium {
    grid-template-columns: 483px 374px;
    grid-template-rows: 259px;
}


/*grid link small*/

.news-gallery-link.small {
    grid-template-columns: 277px;
    grid-template-rows: 208px;
}


/*grid link big*/

.news-gallery-link.big {
    grid-template-columns: 554px;
    grid-template-rows: 259px 159px;
}


/*footer*/

.footer {
    background-color: #1d2124;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px;
    padding: 25px;
}

.footer-text {
    align-self: center;
}

.logo {
    place-self: end;
    align-self: center;
}

.logo-img {
    vertical-align: middle;
}