    @import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&display=swap');
    body {
        margin: 0;
        font-family: 'Montserrat', bold, sans-serif;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    
    hr {
        display: block;
        width: 100%;
        height: 1px;
        margin: 40px 0;
        border: 0;
        background-color: #e5e5e5;
    }
    /* container*/
    
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    /*intro*/
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: url('../images/banner_bg.png') center no-repeat;
        background-size: cover;
    }
    
    .intro__inner {
        width: 100%;
        max-width: 620px;
        margin: 0 auto;
        text-align: center;
    }
    
    .intro__title {
        font-size: 100px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 1;
    }
    
    .intro__title:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: #ffffff;
        margin: 60px auto;
    }
    
    .intro__suptitle {
        margin-bottom: 20px;
        font-size: 42px;
        color: #ffffff;
        font-family: 'Kaushan Script', cursive;
    }
    /*header*/
    
    .header {
        width: 100%;
        position: absolute;
        padding-top: 30px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__logo {
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
    }
    /*nav*/
    
    .nav {
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .nav__link {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0 15px;
        color: #ffffff;
        text-decoration: none;
        transition: color .1s linear;
    }
    
    .nav__link.active {
        color: #fce38a;
    }
    
    .nav__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        opacity: 0;
        background-color: #fce38a;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity .1s linear;
    }
    
    .nav__link:hover {
        color: #fce38a;
    }
    
    .nav__link:hover:after,
    .nav__link.active:after {
        opacity: 1;
    }
    /*button*/
    
    .btn {
        display: inline-block;
        vertical-align: top;
        padding: 6px 25px;
        border: 3px solid #ffffff;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        transition: background .2s linear, color .2s linear;
    }
    
    .btn:hover {
        background-color: #ffffff;
        color: #333;
    }
    /*slider*/
    
    .slider {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    
    .slider__item {
        width: 22%;
        position: relative;
        padding: 20px 0;
        opacity: .7;
        border-top: 3px solid #fff;
        font-size: 15px;
        color: #ffffff;
        text-transform: uppercase;
    }
    
    .slider__item.active {
        opacity: 1;
    }
    
    .slider__item.active:before {
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        top: -3px;
        left: 0;
        z-index: 1;
        background-color: #f38181;
    }
    
    .slider__num {
        font-size: 20px;
        font-weight: 700;
    }
    
    .slider__inner {
        display: flex;
        justify-content: space-between;
    }
    /*section*/
    
    .section {
        padding: 80px 0;
    }
    
    .section--devices {
        margin-bottom: 40px;
        padding-bottom: 0;
        background: url('../images/devices_bg.png') center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .section--gray {
        background-color: #f8f8f8
    }
    
    .section__header {
        width: 100%;
        max-width: 950px;
        margin: 0 auto 50px;
        text-align: center;
    }
    
    .section__suptitle {
        font-size: 24px;
        color: #333;
        font-family: 'Kaushan Script', cursive;
    }
    
    .section__title {
        font-size: 30px;
        font-weight: 700;
        color: #333;
        text-transform: uppercase;
    }
    
    .section__title:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin: 30px auto;
    }
    
    .section__text {
        color: #999;
        font-size: 15px;
    }
    /* cart */
    
    .cart {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }
    
    .cart__item {
        width: 380px;
    }
    
    .cart__inner {
        background-color: #95e1d3;
        position: relative;
    }
    
    .cart__inner:hover .cart__img {
        transform: translate3d(-10px, -10px, 0);
    }
    
    .cart__inner:hover .cart__img {
        transform: translate3d(-10px, -10px, 0);
    }
    
    .cart__inner:hover .cart__img img {
        opacity: .1;
    }
    
    .cart__inner:hover .cart__text {
        opacity: 1;
    }
    
    .cart__img {
        background: linear-gradient(to bottom, #f38181, #fce38a);
        transition: transform .2s linear;
    }
    
    .cart__img img {
        display: block;
        transition: opacity .1s linear;
    }
    
    .cart__text {
        width: 100%;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translate3d(0, -50%, 0);
        transition: opacity .2s linear;
    }
    
    .cart__info {
        margin-top: 20px;
        text-align: center;
    }
    
    .cart__name {
        text-transform: uppercase;
        color: #333;
        font-size: 14px;
    }
    
    .cart__prof {
        color: #999;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
    }
    /* statistics */
    
    .statistics {
        background-color: #95e1d3;
    }
    
    .stat {
        display: flex;
    }
    
    .stat__item {
        flex: 1 1 0;
        padding: 70px 25px;
        border-left: 1px solid #b5eae0;
        text-align: center;
        color: #fff;
    }
    
    .stat__item:last-child {
        border-right: 1px solid #b5eae0;
    }
    
    .stat__count {
        margin-bottom: 10px;
        font-size: 72px;
        font-weight: 700;
        line-height: 1;
    }
    
    .stat__text {
        font-size: 14px;
        text-transform: uppercase;
    }
    /* services */
    
    .services {
        display: flex;
    }
    
    .services__item {
        flex: 1 1 0;
        position: relative;
        padding-left: 85px;
        padding-right: 35px;
    }
    
    .services__icon {
        position: absolute;
        top: 0;
        left: 28px;
        z-index: 1;
    }
    
    .services__title {
        margin-bottom: 10px;
        font-style: 14px;
        color: #333;
        text-transform: uppercase;
    }
    
    .services__text {
        font-style: 15px;
        color: #999;
    }
    /* devices */
    
    .devices {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }
    
    .devices__item {
        display: block;
    }
    
    .devices__item--iphone {
        position: absolute;
        bottom: -80px;
        right: 0;
        z-index: 1;
    }
    /*wedo*/
    
    .wedo {
        display: flex;
    }
    
    .wedo__item {
        width: 50%;
    }
    /* accordion */
    
    .accordion__item {
        border: 1px solid #e5e5e5;
        margin-bottom: 10px;
    }
    
    .accordion__item.active .accordion__content {
        display: block;
    }
    
    .accordion__item.active .accordion__header {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .accordion__item.active .accordion__header:after {
        transform: translateY(-50%) rotate(-45deg);
        margin-top: 5px;
    }
    
    .accordion__header {
        padding: 15px 20px 15px 65px;
        position: relative;
        border-bottom: 1px solid transparent;
        cursor: pointer;
    }
    
    .accordion__header:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 1;
        transform: translateY(-50%) rotate(135deg);
    }
    
    .accordion__icon {
        position: absolute;
        top: 50%;
        left: 20px;
        z-index: 1;
        transform: translateY(-50%);
    }
    
    .accordion__content {
        padding: 16px 36px;
        display: none;
        font-size: 14px;
        color: #999;
        font-style: italic;
        font-weight: 300;
    }
    
    .accordion__title {
        font-size: 14px;
        color: #333;
        text-transform: uppercase;
    }
    /*reviews*/
    
    .reviews {
        padding: 0 110px;
        position: relative;
    }
    
    .reviews__item {
        padding-left: 205px;
        position: relative;
    }
    
    .reviews_photo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .reviews__text {
        margin-bottom: 15px;
        font-size: 24px;
        font-style: italic;
        font-weight: 300;
        color: #999;
    }
    
    .reviews__author {
        font-size: 24px;
        color: #333;
        font-family: 'Kaushan Script', cursive;
    }
    
    .reviews__author:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 3px;
        margin-right: 10px;
        background-color: #f38181;
    }
    
    .reviews__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        font-size: 0;
        color: transparent;
    }
    
    .reviews__btn:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-top: 2px solid #ccc;
        border-left: 2px solid #ccc;
    }
    
    .reviews__btn--pref {
        left: 0;
        transform: rotate(-45deg);
    }
    
    .reviews__btn--next {
        right: 0;
        transform: rotate(135deg);
    }
    /*social*/
    
    .social {
        display: flex;
        justify-content: center;
    }
    
    .social__item {
        width: 55px;
        height: 55px;
        background-color: #fce38a;
        border-right: 1px solid #f38181;
        text-decoration: none;
        color: #f38181;
        font-size: 30px;
        padding: 12px 10px;
        line-height: 1;
        transition: background .1s liner, color .1s linear;
    }
    
    .social__item:hover {
        background-color: #f38181;
        color: #fff;
    }
    
    .social__item:last-child {
        border-right: 0;
    }
    /*works*/
    
    .works {
        display: flex;
    }
    
    .works__col {
        flex: 1 1 0;
    }
    
    .works__item {
        position: relative;
        background: linear-gradient(to bottom, #f38181, #fce38a)
    }
    
    .works__item:hover .works__image {
        opacity: .1;
    }
    
    .works__item:hover .works__info {
        opacity: 1;
    }
    
    .works__image {
        transition: opacity .2s linear;
        display: block;
    }
    
    .works__info {
        width: 100%;
        padding: 0 15px;
        position: absolute;
        text-align: center;
        color: #fff;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translate3d(0, -50%, 0);
        opacity: 0;
        transition: opacity .2s linear;
    }
    
    .works__title {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    
    .works__text {
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
    }